html {
    @apply scroll-smooth;
}

body {
    @apply bg-white dark:bg-secondary-800 text-secondary-600 dark:text-white;
}

header, footer, main, section {
    @apply transition-all duration-200;
}

.main-wrapper {
    @apply flex-grow flex flex-col;
}

main.page-main>header {
    @apply relative flex flex-col justify-end z-10 h-[314px] md:h-[330px] pb-6 after:absolute after:inset-0 after:bg-gradient-to-t after:from-primary after:to-transparent after:-z-10;
}

main.page-main>header .bg-img {
    @apply absolute inset-0 z-0 after:absolute after:inset-0 after:bg-gradient-to-t after:from-primary after:to-transparent;
}

.section {
    @apply py-12 sm:py-32;
}

main.page-main section {
    @apply py-12 sm:py-20 !important;
}

.container {
    @apply mx-auto max-w-7xl px-6 lg:px-8;
}

.page-title {
    @apply text-3xl mt-10 mb-8 sm:text-4xl font-extrabold text-secondary-900 tracking-tight dark:text-secondary-200;
}

.app-section {
    @apply mt-8 md:mt-10 xl:mt-12;
}

.app-section .app-section-title {
    @apply text-secondary-900 text-xl tracking-tight font-bold mb-3 dark:text-secondary-200;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    @apply px-3 sm:px-5 lg:px-7 whitespace-nowrap overflow-x-visible overflow-y-hidden mt-5 pb-5;
}

.landing-layer {
    @apply mt-8 md:mt-10 xl:mt-12 pb-4;
}

.container .section-header {
    @apply mx-auto md:text-center;
}

.container .section-header .section-header-title {
    @apply text-3xl sm:text-4xl text-secondary-900 font-extrabold tracking-tight dark:text-secondary-50 transition-all duration-200;
}

.container .section-header .section-header-subtitle {
    @apply mt-4 max-w-3xl mx-auto;
}

.container .section-body {
    @apply mx-auto mt-16;
}

.container .section-subtitle {
    @apply whitespace-pre-wrap font-bold text-2xl text-secondary-900 tracking-tight dark:text-secondary-50 mb-4;
}

.image-cover{
    @apply w-full h-full object-cover;
}

input[type="date"]{
     -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
